/* 
    https://portotheme.com/shopify/wokiee/intro/
    https://wokiee-demo14.myshopify.com/
*/
@import 'modules/buttons.css';
@import 'modules/card.css';

*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --clr-body: #ffffff;
    --clr-gray: #777777;
    --clr-primary: #2879fe;
    --clr-accent: #007ea7;
    --clr-secondary: #003459;
    --clr-bg: #00171f;
    
    --HSLclr-body:hsl(0,0%,100%);
    --HSLclr-gray:hsl(0,0%,46.7%);
    --HSLclr-primary:hsl(217.3,99.1%,57.6%);
    --HSLclr-accent:hsl(194.7,100%,32.7%);
    --HSLclr-secondary:hsl(204.9,100%,17.5%);
    --HSLclr-bg:hsl(195.5,100%,6.1%);
}

html { 
    font-size: 62.5%; /* 10px */
    height: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-size: 5rem; /* 50px */
    font-size: 2rem; /* 20px */
    font-family: 'Tajawal', sans-serif;
    color: var(--clr-gray, #777777);
    background-color: var(--clr-body, #ffffff);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin-bottom: 1em;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    /* margin: 0.5em auto; */
}

a {
    text-decoration: none;
    color: var(--clr-body, #ffffff);
}

a:hover {
    color: var(--clr-primary, #2879fe);
}

a:focus {
    outline: 0.1em outset var(--clr-primary, #2879fe);    
    box-shadow: 0 0 0.1em 0.2em var(--clr-bg, #00171f),
                0 0 0.1em 0.2em var(--clr-accent, #007ea7);
}

/* Remove buttons focus inner lines */

::-moz-focus-inner,
::-moz-focus-outer { 
    border: none;
}

img {   
    max-width: 100%;
    height: auto;
}

hr {
    /* color: var(--clr-gray, #777777); */
    color: lightgray;
}

figure {
    margin: 0;
}

figcaption {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    /* margin-top: -25rem; */
}

.container {
    max-width: 35em;
    width: 90%;
    margin: 0 auto;
    /* border: 0.1em solid red; */
}

footer {
    background-color: var(--clr-bg, #00171f);
}
.nav {
    background-color: var(--clr-bg, #00171f);
    background-color: var(--clr-accent, #007ea7);
    opacity: 0.8;
}


.nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    gap: 1em;
    height: 100vh;
    font-size: 3rem;
}

.nav__item {
    /* border: 0.1em solid yellow; */
}

.nav__link {
    /* border: 0.1em solid red; */
}






.fa {
    color: var(--clr-body, #ffffff);
}

.center {
    text-align: center;
}

.sidebar {
    height: 100vh;
    position: relative;
    max-width: 60vw;
    background-color: var(--clr-secondary, #00171f);
}

.sidebar__list {
    top: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    height: inherit;
}
