
.products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    background-color: indigo;
}

.product {
    max-width: 20em;
    /* border: 0.2em dashed hotpink; */
    /* background-color: hotpink; */
    /* margin: 0.5em auto; */
}

/* .product__card {border: 0.2em dotted teal;} */

/* .product__img {} */
